.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px); /* Adjust the blur amount as per your preference */
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 16px;
    width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  